<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <div>

  </div>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h4><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h4>
  </li>
  <li>
    <h4><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h4>
  </li>
  <li>
    <h4><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h4>
  </li>
</ul>

<h2>Start of productsAndInventory: </h2>
<nav [ngClass] = "'menu'">
  <a routerLink="/product" routerLinkActive="active-link">Product</a> |
  <a routerLink="/inventory" routerLinkActive="active-link">Inventory</a> |
</nav>

<div>
  <router-outlet></router-outlet>
</div>

<app-product-form>l;</app-product-form>

